@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
	margin: 0;
	padding: 0;
}
body {
	background: black;
	color: white;
	font-family: Roboto;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 2vh;
}
.usr {
	width: 150px;
	height: 35px;
	padding: 4.5em;
	padding-bottom: 250px;
}
#leaderboard {
	width: 95%;
	height: 35px;
	padding: 0.5em;
}
#leaderboard > div {
	float: left;
}
img {
	border-radius: 10px;
}
a {
	text-decoration: none;
	color: #ff4500;
}
