<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="../css/style.css"
      media="screen"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../css/dark.css"
      media="(prefers-color-scheme: dark)"
      rel="stylesheet"
      type="text/css"
    />
    <meta charset="utf-8" />

    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <title>Karma Count</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta http-equiv="Cache-Control" content="no-store" />
    <meta
      name="Description"
      content="A karma counter using the Reddit JSON API"
    />
    <link href="../img/favicon.png" rel="icon" type="image/png" />
  </head>
  Now, this is epiq. Something really cool is gonna be here.
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="../js/layout.js"></script>
</html>
